<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>{%block title%}Test{%endblock%}</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/jumbotron/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet" /> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>'
        );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    \
    <style>
      .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a:hover {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Garage</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {%if current_page =='home'%}active{%endif%}">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item {%if current_page =='add_car'%}active{%endif%}">
            <a class="nav-link" href="/add_car">Add Car</a>
          </li>
          <li class="nav-item {%if current_page =='urgents'%}active{%endif%}">
            <a class="nav-link" href="/urgents">Urgent Cars</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">{%block heading1%}Hello, world!{%endblock%}</h1>
          <p>
            {%block shortdesc%} This is a template for a simple marketing or
            informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a
            starting point to create something more unique.{%endblock%}
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row {%block center_div%}{%endblock%}">
          {%block car_details%} {%endblock%}
        </div>
        <hr />
      </div>
    </main>
    <footer class="container">
      <p>&copy; Garage Company 2017-2018</p>
    </footer>
  </body>
</html>
