{%extends "base.html"%} {%block title%}Edit Car{%endblock%} {%block
heading1%}Edit Car{%endblock%} {%block shortdesc%}Here you can update the car
information, just in case another problem has appeared or maybe the car
information was wrong{%endblock%} {%block car_details%}
<form method="POST" action="/edit_car/{{car.id}}">
  <div class="form-group">
    {{car.description}}
    <label class="control-label" for="car_number">Car Number:</label>
    <input
      type="text"
      class="form-control"
      id="car_number"
      value="{{car.number}}"
      name="car_number"
    />
  </div>
  <div class="form-group">
    <label class="control-label" for="description">Car Description:</label>
    <input
      type="text"
      class="form-control"
      id="description"
      value="{{car.description}}"
      name="description"
    />
  </div>
  <div class="form-group">
    <label class="control-label" for="image_url">Car Image Link:</label>
    <input
      class="form-control"
      id="image_url"
      name="image_url"
      placeholder="Enter Car Image Link"
      type="url"
      value="{{car.img}}"
    />
  </div>
  <div class="form-group">
    <div class="form-check">
      {%for problem in problems%}
      <input
        class="form-check-input"
        type="checkbox"
        value="{{problem.name}}"
        name="problems"
        id="{{problem.name}}"
        {%if
        problem
        in
        car_problems%}checked{%endif%}
      />
      <label class="form-check-label" for="{{problem.name}}"
        >{{problem.represent}}</label
      >
      <br />
      {%endfor%}
    </div>
  </div>
  <div class="form-group">
    <p>Is Urgent?</p>
    <div class="form-check">
      <label class="form-check-label" for="is_urgent">Yes</label
      ><input
        class="form-check"
        id="is_urgent"
        name="is_urgent"
        type="radio"
        value="True"
        {%if
        urgency%}checked{%endif%}
      />
    </div>
    <div class="form-check">
      <label class="form-check-label" for="is_not_urgent">No</label
      ><input
        class="form-check"
        id="is_not_urgent"
        name="is_urgent"
        type="radio"
        value=""
        {%if
        not
        urgency%}checked{%endif%}
      />
    </div>
  </div>
  <input type="submit" value="Finish Editting" />
</form>
{%endblock%}
