{%extends "base.html"%} {%block title%}Urgent Car List{%endblock%} {%block
heading1%}Urgent Car List{%endblock%} {%block shortdesc%}This is our urgent car
list, we are always in a hurry but these, these are special cars!{%endblock%}
{%block car_details%} {%for car in car_list%}
<div class="col-sm-4 text-center">
  <h2>{{car.number}}</h2>
  <img
    src="{{car.img}}"
    alt="{{car.description}}"
    class="img-fluid"
    style="width: 220px; height: 150px"
  />
  <p>{{car.description}}</p>
  <p>
    <a class="btn btn-secondary" href="/single_car/{{car.id}}" role="button"
      >View details &raquo;</a
    >
  </p>
  <div class="alert alert-danger d-inline-block" role="alert">
    This car is Urgent!
  </div>
</div>
{%endfor%} {%endblock%}
